<div class="container mt-5 col-md-14">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col" class="text-center">Name</th>
        <th scope="col" class="text-center">ContentName</th>
        <th scope="col" class="text-center">Description(short)</th>
        <th scope="col" class="text-center">View</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let content of content_list">
        <th scope="row" class="text-center">{{content.user_name}}</th>
        <td class="text-center">{{content.content_name}}</td>
        <td class="text-center">{{content.description}}</td>
        <td class="text-center">
          <button class="btn btn-sm btn-success" routerLink="/weboard/{{content._id}}">enter</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
