<div class="container mt-5 col-md-4" style="padding: 13px; background-color: #f3ebd2; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);">
    <h3 style="text-align:center; font-family: 'Helvetica Neue', sans-serif; font-weight: bold; color: #006400;">SIGN IN</h3>
        <form [formGroup]="loginForm" (ngSubmit)="onLoginuser()">
  
          <div class="form-group mt-2">
            <input type="email" class="form-control" formControlName="email" placeholder="Email">
          </div>
  
          <div class="form-group mt-2">
            <input type="password" class="form-control" formControlName="password" placeholder="Password">
          </div>
  
          <div class="form-group mt-3" style="text-align:center">
            <button type="submit" class="btn btn-success">sign in</button>
          </div>
        </form>
      </div>
  