
  <div class = "container-sm mt-5" style="padding: 13px; background-color: #afaeab">
    <form [formGroup]="showcontentForm">
      <h4 class="mt-2">Description :</h4>
      <div class="form-group">
        <textarea formControlName="description" class="form-control" rows="2" readonly></textarea>
      </div>
      <h4 class="mt-3">Content :</h4>
      <div class="form-group">
        <textarea formControlName="content" class="form-control" rows="5" readonly></textarea>
      </div>
    </form>

      <form [formGroup]="showcommentForm">
        <div class="form-group">
      <h4 class="mt-3">Comment :</h4>
      <div *ngFor="let comment of showcommentForm.value.comments">
        <textarea rows="2"  >{{ comment }}</textarea>
      </div>
      </div>
      </form>

    
    <form [formGroup]="addcommentForm">
      <div class="form-group">
        <h4>Add a comment :</h4>
        <textarea formControlName="comments" class="form-control" rows="3"></textarea>
      </div>
      <button class="btn btn-primary mt-2" (click)="onAddComment()">Add Comment</button>
    </form>
    </div>




