
  <div class="container-sm mt-5" style="padding: 13px; background-color: #f3ebd2; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);">
    <form [formGroup]="showcontentForm">
      <h3 style="text-align:center; font-family: 'Helvetica Neue', sans-serif; font-weight: bold; color: #006400;"> WEBOARD </h3>
      <h5 class="mt-3" style="text-align:left; font-family: 'Helvetica Neue', sans-serif; font-weight: bold; color: #006400;">Description :</h5>
      <div class="form-group">
        <textarea  formControlName="description" class="form-control" rows="2" readonly style="border-radius: 10px;" ></textarea>
      </div>
      <h5 class="mt-3" style="text-align:left; font-family: 'Helvetica Neue', sans-serif; font-weight: bold; color: #006400;">Content :</h5>
      <div class="form-group">
        <textarea formControlName="content" class="form-control" rows="8" readonly style="border-radius: 10px;"></textarea>
      </div>
    </form>

      <form [formGroup]="showcommentForm">
        <div class="form-group">
      <h5 class="mt-3" style="text-align:left; font-family: 'Helvetica Neue', sans-serif; font-weight: bold; color: #006400;">Comment :</h5>
      <div *ngFor="let comment of showcommentForm.value.comments">
        <textarea class="mt-1" rows="6" cols="172" readonly style="border-radius: 10px;" >{{ comment }}</textarea>
      </div>
      </div>
      </form>

    
    <form [formGroup]="addcommentForm">
      <div class="form-group mt-2">
        <h5 style="text-align:left; font-family: 'Helvetica Neue', sans-serif; font-weight: bold; color: #006400;">Add a comment :</h5>
        <textarea formControlName="comments" class="form-control" rows="3" readonly style="border-radius: 10px;"></textarea>
      </div>
      <button class="btn btn-primary mt-2" (click)="onAddComment()">Add Comment</button>
    </form>

    <div>
      <button class="btn btn-danger mt-2" (click)="ondelete()" >Delete</button>
    </div>
    </div>




