<!--form [formGroup]="showcontentForm">
    <div class = "container mt-5 col-md-10">
    <div class="form-group">
      <label for="exampleFormControlInput1">description :</label>
      <input type="text" class="form-control" formControlName="description">
    </div>

    <div class="form-group">
      <label for="exampleFormControlInput1">Content :</label>
      <input type="text" class="form-control" formControlName="content">
    </div>

    <div class="form-group mt-2">
        <button type="submit" class="btn btn-primary">Update</button>
    </div>

    </div>
</form-->

<div class = "container mt-5 col-md-10"> 
<form [formGroup]="showcontentForm">
  <div class="form-control">
    <label for="content">Description :</label>
    <textarea class="form-control" formControlName="description" cols="50" rows="2" style="border:3px double #3c3732;">
    </textarea>
  <br />
    <label for="content">Content :</label>
    <textarea class="form-control" formControlName="content" cols="50" rows="8" style="border:3px double #3c3732;">
    </textarea>
  </div>
  
  </form>
</div>


<div class = "container mt-3 col-md-10">
  <form (ngSubmit)="onSubmit()">
    <button class="btn btn-success"> Create new</button>
  </form>
</div>

<!--form [formGroup]="addnewcontetnForm" (ngSubmit)="ngSubmit()">
  <div class = "container mt-5 col-md-10">

  <div class="form-group mt-3">
      <label for="exampleFormControlInput1">description(short)</label>
      <input type="text" class="form-control" formControlName="description" placeholder="">
    </div>

  <div class="form-group mt-3">
    <label for="exampleFormControlTextarea1">content</label>
    <textarea type="text" class="form-control "  formControlName="content" cols="50" rows="8"></textarea>
  </div>


  <!--div class="form-group mt-2">
      <label for="exampleFormControlFile1"></label>
      <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div-->
    

  <!--div class="form-group mt-2">
      <button type="submit" class="btn btn-primary">Create new</button>
  </div>

  </div>
</form-->

