<nav class="navbar navbar-expand-lg navbar-dark bg-dark " style="padding: 16px">
  <a class="navbar-brand " href="#">WEBOARD</a>
  <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon "></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/list-content">Content</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/create-content">Create Content</a>
      </li>

      
      <li class="nav-item">
        <a class="nav-link" href="/profile/{{loginID}}">Profile</a>
      </li>

      <div style="position:relative; left: 1130px;">
        <li class="nav-item">
          <a class=" btn btn-outline-primary" href="/register">Sign up</a>
        </li>
      </div>
      <div style="position:relative; left: 970px;">
        <li class="nav-item">
          <a class="btn btn-outline-success" href="/login"> Login </a>
        </li>
      </div>

      <!form [formGroup]="showloginID">
      <div style="position:relative; left: 1120px;">
        <li class="nav-item">
          <a class="btn btn-outline-danger" (click)="onLogOutuser()"  href="/logOUT">{{loginUsername}}</a>
        </li>
      </div>
    <!/form>

    </ul>
  </div>

 
</nav>