<form [formGroup]="contentForm" (ngSubmit)="onSubmit()">
    <div class = "container mt-5 col-md-10">
    <div class="form-group">
      <label for="exampleFormControlInput1">Content Name</label>
      <input type="text" class="form-control" formControlName="content_name" placeholder="">
    </div>

    <div class="form-group mt-3">
        <label for="exampleFormControlInput1">description(short)</label>
        <input type="text" class="form-control" formControlName="description" placeholder="">
      </div>

    <div class="form-group mt-3">
      <label for="exampleFormControlTextarea1">content</label>
      <textarea type="text" class="form-control "  formControlName="content" cols="50" rows="8"></textarea>
    </div>


    <div class="form-group mt-2">
        <label for="exampleFormControlFile1"></label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>
      

    <div class="form-group mt-2">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>

    </div>
</form>

